

  @font-face {
    font-family: "Kaushan Script";
    src: url("../fonts/KaushanScript-Regular.eot");
    /* IE9 */
    src: url("../fonts/KaushanScript-Regular.eot?#iefix") format("embedded-opentype"), 
      url("../fonts/KaushanScript-Regular.woff") format("woff"), 
      url("../fonts/KaushanScript-Regular.ttf") format("truetype"), 
      url("../fonts/KaushanScript-Regular.svg#Kaushan Script") format("svg");
    /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
  }
  
  @font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Bold.eot");
    /* IE9 */
    src: url("../fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), 
      url("../fonts/Montserrat-Bold.woff") format("woff"), 
      url("../fonts/Montserrat-Bold.ttf") format("truetype"), 
      url("../fonts/Montserrat-Bold.svg#Montserrat") format("svg");
    /* iOS 4.1- */
    font-style: normal;
    font-weight: 700;
  }
  
  @font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.eot");
    /* IE9 */
    src: url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), 
      url("../fonts/Montserrat-Regular.woff") format("woff"), 
      url("../fonts/Montserrat-Regular.ttf") format("truetype"), 
      url("../fonts/Montserrat-Regular.svg#Montserrat") format("svg");
    /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
  }
  
  @font-face {
    font-family: "Roboto Slab";
    src: url("../fonts/RobotoSlab-Regular.eot");
    /* IE9 */
    src: url("../fonts/RobotoSlab-Regular.eot?#iefix") format("embedded-opentype"), 
      url("../fonts/RobotoSlab-Regular.woff") format("woff"), 
      url("../fonts/RobotoSlab-Regular.ttf") format("truetype"), 
      url("../fonts/RobotoSlab-Regular.svg#Roboto Slab") format("svg");
    /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
  }