// Styling for the services section
.block-cards {
  .block-cards-item {
    ol,ul {
      text-align: left;
      padding-left: 30px;
    }
  }
  .block-cards-heading {
    margin: 15px 0;
    text-transform: none;
  }
}

