.navbar {
  .navbar-brand {
    display: inline-block;
    width: 40%;
  }
}
@media (min-width: 768px) {
  .navbar {
    .navbar-brand {
      width: 20%;
    }
  }
}

// Styling for the masthead
header.masthead {
  text-align: center;
  color: white;
  background-color: #3c3837;
  //background-image: url('img/header-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 10% center;
  //background-size: 100% auto;
  background-size: cover;
  //background-size: contain;

  margin-top: 50px;
  .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
    .intro-lead-in {
      font-size: 22px;
      font-style: italic;
      line-height: 22px;
      margin-bottom: 25px;
      @include serif-font;
    }
    .intro-heading {
      font-size: 38px;
      font-weight: normal;
      line-height: 45px;
      margin-bottom: 25px;
      @include heading-font;
    }
  }
}
@media(min-width:768px) {
  header.masthead {
    .intro-text {
      padding-top: 300px;
      padding-bottom: 200px;
      .intro-lead-in {
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 25px;
        @include serif-font;
      }
      .intro-heading {
        font-size: 52px;
        font-weight: 500;
        line-height: 65px;
        margin-top: 50px;
        margin-bottom: 50px;

        border-top: 2px solid white;
        @include heading-font;
      }
      .intro-brand {
        text-align: center;
        img {
          max-width: 80%;
          
        }
      }
    }
  }
}
@media (min-width: 992px) {
  header.masthead {
    margin-top: 0px;
  }
}
